AccessModifierOffset: -4
AlignConsecutiveDeclarations: true
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: LLVM
ColumnLimit: 100
IndentPPDirectives: BeforeHash
IndentWidth: 4
PackConstructorInitializers: Never
PointerAlignment: Left
SortIncludes: true
