AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: LLVM
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
IndentPPDirectives: BeforeHash
IndentWidth: 4
PackConstructorInitializers: Never
PointerAlignment: Left
SortIncludes: true
